@page "/fetchdata"
@using System.Text.Json;
@using CommonModels;
@inject HttpClient HttpClient

<MudTable Items="games" TItem="Games">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd><MudTd>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => GameServerClick(context))">Start Server</MudButton>
        </MudTd>
    </RowTemplate>
</MudTable>

@* <MudCard>
    <MudCardContent>
        <h3>Click the button to execute Steam CMD:</h3>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ExecuteMainMethod">Execute Main</MudButton>

        @if (!string.IsNullOrEmpty(message))
        {
            <p>@message</p>
        }
    </MudCardContent>
</MudCard> *@