@page "/serverlist"
@using System.Text.Json;
@using CommonModels;
@inject HttpClient HttpClient

<MudTable Items="games" TItem="Games">
    <HeaderContent>
        <MudTh>Game</MudTh>
        <MudTh/>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd><MudTd>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => StartGameServerClick(context))">Start Server</MudButton>

            @if (!string.IsNullOrEmpty(message))
            {
                <p>@message</p>
            }
        </MudTd>
    </RowTemplate>
</MudTable>